asgiref @ file:///work/ci_py311/asgiref_1676843199969/work
brotlipy==0.7.0
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///work/ci_py311/cffi_1676822533496/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cryptography @ file:///croot/cryptography_1689373676338/work
Django @ file:///work/ci_py311/django_1676851927387/work
django-clearcache==1.2.1
django-js-asset==2.1.0
filelock @ file:///work/ci_py311/filelock_1676823024085/work
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
idna @ file:///work/ci_py311/idna_1676822698822/work
Jinja2 @ file:///work/ci_py311/jinja2_1676823587943/work
MarkupSafe @ file:///work/ci_py311/markupsafe_1676823507015/work
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
networkx @ file:///croot/networkx_1690561992265/work
nn==0.1.1
numpy @ file:///croot/numpy_and_numpy_base_1691091611330/work
Pillow==9.4.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
requests @ file:///croot/requests_1690400202158/work
sqlparse @ file:///work/ci_py311/sqlparse_1676828845822/work
sympy @ file:///work/ci_py311_2/sympy_1679339311852/work
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
typing_extensions @ file:///croot/typing_extensions_1690297465030/work
urllib3 @ file:///croot/urllib3_1686163155763/work